.loading-timer__svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.loading-timer__track {
  opacity: 0.4;
}

.loading-timer__progress {
  stroke-linecap: round;
  transform-origin: center;
}

.loading-timer__progress--animated {
  stroke-dashoffset: var(--timer-circumference);
  animation: loading-timer-dash var(--timer-duration, 4s) linear forwards;
}

.loading-timer__progress--animated[style*="animation-play-state: paused"] {
  animation-play-state: paused;
}

@keyframes loading-timer-dash {
  from {
    stroke-dashoffset: var(--timer-circumference);
  }
  to {
    stroke-dashoffset: 0;
  }
}
